<div class="auth-page" [@intensiveAnimation]>
  <div class="container page" [@intensiveAnimation]>
    <div class="row" [@intensiveAnimation]>
      <div class="col-md-6 offset-md-3 col-xs-12" [@intensiveAnimation]>
        <h1 class="text-xs-center" [@intensiveAnimation]>{{ title }}</h1>
        <p class="text-xs-center" [@intensiveAnimation]>
          <a [routerLink]="['/register']" [@intensiveAnimation]
            >Need an account?</a
          >
        </p>

        <app-list-errors
          [errors]="errors"
          [@intensiveAnimation]
        ></app-list-errors>

        <form
          [formGroup]="authForm"
          (ngSubmit)="submitForm()"
          [@intensiveAnimation]
        >
          <fieldset [disabled]="isSubmitting" [@intensiveAnimation]>
            <fieldset
              class="form-group"
              *ngIf="authType === 'register'"
              [@intensiveAnimation]
            >
              <input
                class="form-control form-control-lg"
                formControlName="username"
                placeholder="Username"
                [@intensiveAnimation]
              />
            </fieldset>

            <fieldset class="form-group" [@intensiveAnimation]>
              <input
                class="form-control form-control-lg"
                formControlName="email"
                placeholder="Email"
                [@intensiveAnimation]
              />
            </fieldset>

            <fieldset class="form-group" [@intensiveAnimation]>
              <input
                class="form-control form-control-lg"
                type="password"
                formControlName="password"
                placeholder="Password"
                [@intensiveAnimation]
              />
            </fieldset>

            <button
              class="btn btn-lg btn-primary pull-xs-right"
              type="submit"
              [@intensiveAnimation]
            >
              {{ title }}
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
