<div class="profile-page" *ngIf="profile" [@intensiveAnimation]>
  <div class="user-info" [@intensiveAnimation]>
    <div class="container" [@intensiveAnimation]>
      <div class="row" [@intensiveAnimation]>
        <div class="col-xs-12 col-md-10 offset-md-1" [@intensiveAnimation]>
          <img [src]="profile.image" class="user-img" [@intensiveAnimation] />
          <h4 [@intensiveAnimation]>{{ profile.username }}</h4>
          <p [@intensiveAnimation]>{{ profile.bio }}</p>
          <app-follow-button
            *ngIf="!isUser"
            [profile]="profile"
            (toggle)="onToggleFollowing($event)"
            [@intensiveAnimation]
          >
          </app-follow-button>
          <a
            [routerLink]="['/settings']"
            *ngIf="isUser"
            class="btn btn-sm btn-outline-secondary action-btn"
            [@intensiveAnimation]
          >
            <i class="ion-gear-a"></i> Edit Profile Settings
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
