@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
  font-family: "Dancing Script", cursive;
  font-size: 36px;
  line-height: 1.5;
  background: url("https://www.photofunky.net/output/image/b/0/7/6/b076c1/photofunky.gif")
    center center / cover no-repeat fixed;
  color: #ffd700;
  text-shadow: 3px 3px 5px #8b0000, -3px -3px 5px #00ffff;
  animation: rainbowText 5s linear infinite,
    glowEffect 2s ease-in-out infinite alternate;
  margin: 0;
  padding: 20px;
  height: 100vh;
  overflow: hidden;
}

@keyframes rainbowText {
  0% {
    color: #ff0000;
  }
  25% {
    color: #00ff00;
  }
  50% {
    color: #0000ff;
  }
  75% {
    color: #ffff00;
  }
  100% {
    color: #ff00ff;
  }
}

@keyframes glowEffect {
  from {
    text-shadow: 0 0 10px #ffd700, 0 0 20px #ff4500, 0 0 30px #ff6347;
  }
  to {
    text-shadow: 0 0 20px #32cd32, 0 0 30px #7fffd4, 0 0 40px #1e90ff;
  }
}

/* src/styles.css */

/* Define keyframes for the animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

/* Apply the animations globally */
* {
  animation: fadeIn 1s ease-in-out;
  animation: fadeOut 1s ease-in-out;
}
